### Git ###
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### React ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
node_modules
bower_components
*.sublime*
psd
thumb
sketch

### Vite ###
.vite
dist/

### Env Files ###
.env
.env.*

### Editor ###
.vscode/
!.vscode/settings.json

### OS ###
.DS_Store
Thumbs.db
