.main-container {
  padding: 2.5vh 2rem;
  text-align: center;
  height: 95vh;

  display: flex;
  flex-direction: column;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #8c92d3;
}

.mypage-link {
  font-size: 0.85rem;
  color: #8c92d3;
  text-decoration: none;
}

.main-content {
  flex: 1;                     /* 남은 공간 모두 차지 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 3.5rem;
}

.map-button {
  padding: 0.6rem 1.2rem;
  background-color: #8c92d3;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;

  width: 10rem;;
}
